*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Common*/
body{
    font-family: 'Montserrat', sans-serif;
}

.conteiner{
    margin: 40px auto;
    width: 80%;
}

/*Fine common*/

/*Inizio header*/
header{
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
}

.logo > img{
    height: 70px;
    width: 180px;
    padding-right: 20px;
    margin-bottom: 20px;
    border-right: 1px solid black;
}

a{
    color: lightgray;
    font-weight: 600;
}

nav li{
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    text-transform: uppercase;
}

li a{
    text-decoration: none;
}
/*Fine header*/

/*Inizio main*/
.main-alto{
    background-color: peru;
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}

.main-basso{
    background-color: blue;
    width: 100%;
    margin-bottom: 10px;
}

.main-basso::after{
    content: "";
    display: table;
    clear: both;
}

.header-main-basso{
    margin-bottom: 20px;
    width: 100%;
    height: 80px;
    background-color: paleturquoise;
}

.sinistra{
    padding-bottom: 500px;
    margin-bottom: 20px;
    float: left;
    background-color: paleturquoise;
    width: calc((100% / 5) *1)
}

.centro{
    padding-bottom: 500px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    background-color: paleturquoise;
    width: calc((100% / 5) *3 - 20px)
}

.destra{
    padding-bottom: 500px;
    margin-bottom: 20px;
    float: right;
    background-color: paleturquoise;
    width: calc((100% / 5) *1)
}
/*Fine main*/

/* Inizio Footer*/
footer{
    background-color: purple;
    height: 40px;
}

/* Fine Footer*/


